/* Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

    background: #332175;
    background: linear-gradient(340deg, rgb(77, 60, 141) 0%, rgb(83, 83, 172) 20%, rgba(128, 196, 255) 100%);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 20px;
    font-weight: normal;
    padding: 15px 0;
}

h2 {
    font-size: 18px;
    font-weight: normal;
}

h3 {
    font-size: 16px;
    font-weight: normal;
}

main {
    margin-top: 60px;
    width: 100vw;
    padding: 0 10px;
}

footer {
    margin-top: 20px;
    width: 100vw;
    padding: 0 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Nav */

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    gap: 10px;
    padding: 0 10px;
    z-index: 100;

    background-color:rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.burger {
    width: 30px;
    height: 30px;

    background-color: transparent;
    display: flex;
    justify-content: center;
    border-style: none;
}

.logo {
    color: #323232;
    font-weight: 800;
    font-size: 18px;
}

.balance {
    margin-left: auto;
    line-height: 30px;
    height: 30px;
    color: #323232;
    font-weight: 800;
    font-size: 18px;
}

.profile {
    width: 25px;
    height: 25px;

    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #323232;
}

/* Sidebar */

#sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 18px;
    height: 100vh;
    width: 250px;
    top: 0;
    right: -250px;
    z-index: 200;

    background-color:rgba(189, 224, 255, 0.65);
    backdrop-filter: blur(5px);

    transition: right 150ms ease-in-out;
}

#sidebar.active {
    right: 0;
}

.close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;

    background-color: transparent;
    border-style: none;
}

#sidebar a {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #323232;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 150;

    background: rgba(0, 0, 0, 0.35);

    opacity: 0;
    pointer-events: none;

    transition: opacity 200ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.game-modes {
    display: flex;
    align-items: center;
    gap: 5px;
}