.game-modes h1 {
    color: #f1f1f1;
    font-weight: 600;
}

/* Grid-cards */

.grid-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: start;
}

.grid-card {
    width: 100%;
    aspect-ratio: 5 / 2;

    border-radius: 10px;
    border: 1px solid transparent;

    display: flex;
    justify-content: start;
    align-items: end;
    padding: 10px 15px;

    color: #f1f1f1;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 800;

    background-color:rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);

    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.grid-card:last-child {
    grid-column: span 2;
    aspect-ratio: 5 / 1;

    font-size: 18px;
    align-items: center;
    gap: 10px;
}

/* Footer */

