/* Grid-cards */

.grid-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: start;
}

.grid-card {
    width: 100%;
    aspect-ratio: 5 / 2;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    display: flex;
    justify-content: start;
    align-items: end;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
}

.grid-card:last-child {
    grid-column: span 2;
    aspect-ratio: 5 / 1;

    font-size: 18px;
    align-items: center;
    gap: 10px;
}

/* Footer */

